.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #696767;
    color: white;
    padding: 1rem;
  }

  header a {
    margin-right: 40px;
  }
  
  .nav {
    display: flex;
    gap: 1,8rem;
  }
  
  .nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 30px;
  }
  
  .nav a:hover {
    text-decoration: underline;
  }
  
  .cart-button {
    border: none;
    background: none;
    color: white;
    cursor: pointer;
  }
  
  /* Estilos para el icono del carrito */
.cartIcon {
  width: 30px; /* Ajusta el ancho del icono según tus necesidades */
  height: auto; /* Permite que la altura se ajuste automáticamente según el ancho */
}
