.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #696767;
    color: white;
    padding: 10px 20px;
  }
  
  .nav {
    display: flex;
  }
  
  .nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 30px;
  }
  
  .nav a:hover {
    text-decoration: underline;
  }
  
  .cart-button {
    border: none;
    background: none;
    color: white;
    cursor: pointer;
  }
  